/instance/
__pycache__/
/dist/
test_results/
.coverage

### Pycharm IDEA ###
.idea
*.iml

.ruff_cache

# Prevent accidentally committing html files that could contain sensitive data
*.html

del*

.vscode
**/secrets_file.py
secret_data/
.tmp/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.parquet
*.DS_Store
.venv
.vscode
.trivy
.pytest_cache
.python-version

*.csv
*.log
*.sql
