name: Security trivy dependency check
on:
  workflow_dispatch:
  schedule:
    - cron: "34 7 * * 1-5" # Every weekday
jobs:
  security-kotlin-trivy-check:
    permissions:
      contents: read
      actions: read
      security-events: write
    name: Project security trivy dependency check
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/security_trivy.yml@v2
    with:
      channel_id: ${{ vars.SECURITY_ALERTS_SLACK_CHANNEL_ID || 'NO_SLACK' }}
    secrets: inherit
